<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>2012 : GAME OVER ?</title>
        <meta name="description" content="2012 : Game over ? Le jeu sur la fin du monde du vendredi 21 décembre 2012">
        <meta name="author" content="Hétic H3 : Chauffaille, Denis, Dutto, Forlini, Guérot, La Rosa">
        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen"  />
        <link rel="stylesheet" href="assets/css/gameover.css" type="text/css" media="screen"  />
        <link rel="stylesheet" href="assets/css/default.css" type="text/css/" media="screen"  />
        <!--[if lt IE 9]><script src="assets/js/html5shiv.js"></script><![endif]-->
    </head>
    <body>
        <!---Header statique du site-->
        <header itemscope itemtype="http://schema.org/ItemList">
            <div id="countdown"> </div>
            <a href="#home" title="Accueil"> </a><a href="#home" title="Accueil">
                <h1 itemprop="keywords">2012 : GAME OVER ?</h1>

            </a>
        </header>
        
        <!---Zone de rendus du loader-->
        <div id="loader"> </div>
        
        <!---Zone de rendus de l'accueil-->
        <div id='videoIntro' style="display:none"> </div>
        
        <!---Zone de rendus de l'accueil-->
        <div id='accueil' style="display:none" itemscope itemtype="http://schema.org/ItemList" itemprop="video"> </div>
        
        <!---Zone de rendus de l'accueil mobile-->
        <div id='accueilMobile' style='display:none'> </div>
        
        <!---Zone de rendu question -->
        <div id="question" style='display:none;'> </div>
                
        <!---Template du loader-->
        <script type="text/template" id="templateLoader">
            <span style ='color:white' id="avancementLoader"><%= avancement %></span>
            
            LOADER [1] 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 [2] 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 [3] 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 [4] 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 [5] 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 [6] 7 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 [7] 8 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 [8] 9 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 [9] 10 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 [10] 11 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 [11] 12 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 [12] 13 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 [13] 14 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 [14] 15 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 [15] 16 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 [16] 17 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 [17] 18 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 [18] 19 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 [19] 20 ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 [20] ...<br />
            LOADER 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 [...]<br />
        </script>
        
        <!--Template de l'accueil-->
        <script type="text/template" id="templateAccueil">

            <div itemscope itemtype="http://schema.org/ItemList" id="container">
            
                <section itemprop="video" id="video" style="display='none';"> </section> 
                
                <section>
                    <div class="clearfix"> </div>
                    <section itemprop="image" id="banner"> </section>
                    <section itemprop="text" id="stats">
                        <h2 itemprop="keywords">êtes-vous prêt à survivre à la fin du monde ?</h2>
                    </section>
                    
                    <section itemprop="text" id="jeu">
                        <h2 itemprop="keywords">et toi, penses-tu être à la hauteur ?</h2>
    
                        <h4 itemprop="keywords">Vérifies tes chances de survie !</h4>
                        <br />
                        <a itemprop="url" id="etape1">
                            <img itemprop="image "src="assets/img/go.png" alt="GO !" title="GO !" />
                        </a>
                    </section>
                    <div class="clearfix"> </div>
                </section>
            </div>
        </script>
        
        <!---Template question mobile-->
        <script type="text/template" id="templateMobile">
              <section>
                  <header><%= test %></header>
                  <article>
                      <p>dkjdkd</p>
                  </article>
              </section>
        </script>
        
        
        <!---Template d'animation entre chaque question & intro du début-->
        <script type="text/template" id="introAnimation">
             <h1 id='changetexte'><%= introQuestion %></h1>
             <h1><%= toto %></h1>
        </script>

        
        <!---Template question StreetView/Map + startGame-->
        <script type="text/template" id="templateStreetView">
        	<h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
        	<div> </div>
			<div style="height:600px" id="exploration"></div>
			<div class='carte' id="carte"></div>
			<a class='nextQuestion'>Question suivante</a>

        </script>
        
        <!---Template question video -->
        <script type="text/template" id="templateVideo">
           <h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
           <div> </div>
           <a class='nextQuestion'>Question suivante</a>
        </script>
        
        <!---Template question WebGL-->
        <script type="text/template" id="templateWebGl">
            <h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
            <div> </div>
            
            <div class="clearfix"> </div>
            
            <div class="webgl">
                <h3><%= image1.titre %></h3>
                <figure>
                    <img class="nextQuestion" src="assets/img/<%= image1.url %>" alt="<%= image1.alt %>" />
                    <figcaption><%= image1.description %></figcaption>
                </figure>
            </div>
            
            <div class="webgl">
                <h3><%= image2.titre %></h3>
                <figure>
                    <img class="nextQuestion" src="assets/img/<%= image2.url %>" alt="<%= image2.alt %>" />
                    <figcaption><%= image2.description %></figcaption>
                </figure>
            </div>
            
            <div class="webgl">
                <h3><%= image3.titre %></h3>
                <figure>
                    <img class="nextQuestion"  src="assets/img/<%= image3.url %>" alt="<%= image3.alt %>" />
                    <figcaption><%= image3.description %></figcaption>
                </figure>
            </div>
            
            <div class="clearfix"> </div>
            

        	
        </script>
        
        <!---Footer statique du site -->
        <footer itemscope itemtype="http://schema.org/ItemList" itemprop="copyrightYear">

            <span id="filAriane">
                <a title="Couper/Activer le son" id='optionSon' class="doing pause"><i> </i></a>
                <a title="Aller à l'étape 1" href="#etape1">1</a>
                <a title="Aller à l'étape 2" href="#etape2">2</a>
                <a title="Aller à l'étape 3" href="#etape3">3</a>
                <a title="Aller à l'étape 4" href="#etape4">4</a>
                <a title="Aller à l'étape 5" href="#etape5">5</a>
                <a title="Aller à l'étape 6" href="#etape6">6</a>
                <a title="Aller à l'étape 7" href="#etape7">7</a>
                <a title="Aller à l'étape 8" href="#etape8">8</a>
                <a title="Aller à l'étape 9" href="#etape9">9</a>
                <a title="Aller à l'étape 10" href="#etape10">10</a>
                <a title="Recommencer le jeu" class="doing"><i> </i></a>
            </span>
            <a itemprop="url" href="http://facebook.com/gameover" title="Voir notre page Facebook"></a>
            <a itemprop="url" href="http://twitter.com/gameover" title="Voir notre compte Twitter"></a>
            <span>&copy; hétic 2012 - tous droits réservés</span>
            <span>à propos - contact</span>
            <div itemprop="image" id="hand-left" class="hands"><div></div></div>
            <div itemprop="image" id="hand-center" class="hands"></div>
            <div itemprop="image" id="hand-right" class="hands"></div>
            
        </footer>
    </body>
    <!-- Librairies (l'ordre compte) -->
    <script type="text/javascript" src="assets/js/browser_detect.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="assets/js/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/underscore-min.js"></script>
    <script type="text/javascript" src="assets/js/backbone.js"></script>
    <script type="text/javascript" src="assets/js/backbone-localstorage.js"></script>
    <script type="text/javascript" src="assets/js/pxLoader/PxLoader.js"></script>
    <script type="text/javascript" src="assets/js/pxLoader/PxLoaderImage.js"></script>
    <script type="text/javascript" src="assets/js/pxLoader/PxLoaderAudio.js"></script>
    <script type="text/javascript" src="assets/js/pxLoader/PxLoaderVideo.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="assets/js/messi.min.js"></script>
    <script type="text/javascript" src="assets/js/shake.js"></script>
    
    <!-- Base de l'application Backbone JS -->
    <script type="text/javascript" src="src/app.js"></script>

    <!-- Les modules de l'application, l'ordre ne compte pas -->
    <script type="text/javascript" src="src/modules/router.js"></script>
    <script type="text/javascript" src="src/modules/views.js"></script>
    <script type="text/javascript" src="src/modules/models.js"></script>
    <script type="text/javascript" src="src/modules/collections.js"></script>
    <script type="text/javascript" src="src/modules/helper.js"></script>
</html>
