<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>2012 : GAME OVER ?</title>
        <meta name="description" content="2012 : Game over ? Le jeu sur la fin du monde du vendredi 21 décembre 2012">
        <meta name="author" content="Hétic H3 : Chauffaille, Denis, Dutto, Forlini, Guérot, La Rosa">
        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="assets/css/gameover.css" type="text/css" media="screen" />
        <link type="text/css" rel="stylesheet" href="assets/css/mobile.css" />
        <link href='http://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]><script src="assets/js/html5shiv.js"></script><![endif]-->
        <!--Script google analytics-->
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-36782962-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
    </head>
    <body>
        <!---Header statique du site-->
        <header itemscope itemtype="http://schema.org/ItemList">
            <div id="countdown"> </div>
            <a href="#home" title="Accueil"> </a><a href="#home" title="Accueil">
                <h1 itemprop="keywords">2012 : GAME OVER ?</h1>
            </a>
            <div class="fb-like" data-href="http://p2015.terredeweb.fr/12/index.html" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            
        </header>
        
        <!---Zone de rendus du loader-->
        <div id="loader"> </div>
        
        <!---Zone de rendus de l'accueil-->
        <div id='videoIntro'> </div>
        
        <!---Zone de rendus de l'accueil-->
        <div id='accueil' itemscope itemtype="http://schema.org/ItemList" itemprop="video"> </div>
        
        <!---Zone de rendus de l'accueil mobile-->
        <div id='accueilMobile'> </div>
        
        <!---Zone de rendu question -->
        <div id="question"> </div>
        
        <!---Zone de rendu de la fin -->
        <div id="end"> </div>
                
        <!---Template du loader-->
        <script type="text/template" id="templateLoader">
            <div class="spinner">
                <div class="piece a"> </div>
                <div class="piece b"> </div>
                <div class="piece c"> </div>
                <div class="piece d"> </div>
                <div class="piece e"> </div>
                <div class="piece f"> </div>
                <div class="piece g"> </div>
                <div class="piece h"> </div>
                <div class="piece i"> </div>
                <div class="piece j"> </div>
                <div class="piece k"> </div>
                <div class="piece l"> </div>
                <div class="piece m"> </div>
                <div class="piece n"> </div>
                <div class="piece o"> </div>
                <div class="piece p"> </div>
            </div>
        </script>
        
        <!--Template de l'accueil-->
        <script type="text/template" id="templateAccueil">
            
            <section itemprop="video" id="video" style="display='none';"> </section> 
            
            <section>
                <div class="clearfix"> </div>
                <section itemprop="image" id="banner"> </section>
                <section itemprop="text" id="stats">
                	<div class="clearfix"> </div>
                    <h2 itemprop="keywords">êtes-vous prêt à survivre à la fin du monde ?</h2>
                    <div id="container_sondage">
						
                    </div>
                    <div id="container_commentaire">
	                    <div>
	                        <p class="commentaire_survivant">66% Survivent</p>
	                        <p class="commentaire_non_survivant">44% Ne survivent pas</p> 
	                    </div>
	                </div>
                    <div class="clearfix"> </div>
                </section>
                
                <section itemprop="text" id="jeu">
                    <h2 itemprop="keywords">et vous, pensez-vous être à la hauteur ?</h2>
                    <a itemprop="url" id="etape1" onClick="_gaq.push(['_trackEvent', 'Click', 'startgame', 'startgame1']);">
                        <img itemprop="image "src="assets/img/go.png" alt="GO !" title="GO !" />
                    </a>
                </section>
                <div class="clearfix"> </div>
            </section>
                
        </script>
        
        <!---Template question mobile-->
        <script type="text/template" id="templateMobile">
			<p><%= phrase %></p>
        </script>
        
        
        <!---Template d'animation entre chaque question & intro du début-->
        <script type="text/template" id="introAnimation">
			<h1 id='changetexte'><%= introQuestion %></h1>
			<h1 id='changetexte2'><%= introQuestion2 %></h1>
			<h1 id='changetexte3'><%= introQuestion3 %></h1>
			<h1 id='changetexte4'><%= introQuestion4 %></h1>
        </script>

        
        <!---Template question StreetView/Map + startGame-->
        <script type="text/template" id="templateStreetView">
        	<h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
        	<div> </div>
			<div style="height:600px" id="exploration"></div>
			<div class='carte' id="carte"></div>
        </script>
        
        <!---Template question video -->
        <script type="text/template" id="templateVideos">
            <h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
            <div> </div>
            <div class="clearfix"> </div>
            <div class="videos">
                <h3><%= video1.titre %></h3>
                <iframe id="player1" src="http://player.vimeo.com/video/<%= video1.url %>?api=1&amp;player_id=player1&amp;title=0&amp;byline=0&amp;autoplay=0&amp;portrait=0" frameborder="0" height="auto" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            	<div class="round">
        			<input type="text" class="round" data-min="0" data-max="" value="" />
        		</div>
        		<div id="video1" class="round"><input type="text" class="round" value="OK" /></div>
            </div>
            <div class="videos">
                <h3><%= video2.titre %></h3>
                <iframe id="player2" src="http://player.vimeo.com/video/<%= video2.url %>?api=1&amp;player_id=player2&amp;title=0&amp;byline=0&amp;autoplay=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            	<div class="round">
        			<input type="text" class="round" data-min="0" data-max="" value="" />
        		</div>
        		<div id="video2" class="round"><input type="text" class="round" value="OK" /></div>
            </div>
            <div class="clearfix"> </div>
        </script>
        
        <!---Template question WebGL-->
        <script type="text/template" id="templateWebGl">
            <h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
            <div> </div>
            <div class="clearfix"> </div>
            <div class="webgl">
               <h3><%= image1.titre %></h3>
                <div class="elements" id="elements1">
                </div>
            </div>
            <div class="webgl">
               <h3><%= image2.titre %></h3>
                <div class="elements" id="elements2">
                </div>
            </div>
            <div class="clearfix"> </div>
        </script>

        <!---Template question WebGL fallback-->
        <script type="text/template" id="templateWebGlFallback">
            <h2><a id='btnHelp'>?</a><%= titreQuestion %></h2>
            <div> </div>
            <div class="clearfix"> </div>
            <div class="webgl">
               <h3><%= image1.titre %></h3>
                <div class="elements" id="elements1">
                    <img src="assets/img/<%= image1.url %>"/>
                </div>
                <!--<a id='choix1' class='nextQuestion'>Choisir</a>-->
            </div>
            <div class="webgl">
               <h3><%= image2.titre %></h3>
                <div class="elements" id="elements2">
                    <img src="assets/img/<%= image2.url %>"/>
                </div>
                <!--<a id='choix2' class='nextQuestion'>Choisir</a>-->
            </div>
            <div class="clearfix"> </div>
        </script> 

        <!---Template question end -->
        <script type="text/template" id="endTemplate">

           <section itemprop="image" id="banner"> </section>
           <section>
                <div class="clearfix"> </div>
                <section itemprop="text" id="stats">
                    <h2 itemprop="keywords"><%= resultatTitle %></h2>
                    <div id="container_sondage">
                    	<img src="assets/img/<%= img %>"/>
                    </div>
                    <div id="container_commentaire">
	                    <div>
	                        <table>
		                        <tr>
		                        	<td class="<%= class1 %>">1) <%= question1 %></td>
		                        	<td class="<%= class2 %>">2) <%= question2 %></td>
		                        </tr>
		                        <tr>
		                        	<td class="<%= class3 %>">3) <%= question3 %></td>
		                        	<td class="<%= class4 %>">4) <%= question4 %></td>
		                        </tr>
		                        <tr>
		                        	<td class="<%= class5 %>">5) <%= question5 %></td>
		                        	<td class="<%= class6 %>">6) <%= question6 %></td>
		                        </tr>
		                        <tr>
		                        	<td class="<%= class7 %>">7) <%= question7 %></td>
		                        	<td class="<%= class8 %>">8) <%= question8 %></td>
		                        </tr>
	                        </table>
	                    </div>
	            	</div>
                </section>
                
                <section itemprop="text" id="jeu">
                    <h2 itemprop="keywords">Retrouvez-nous sur Facebook !</h2>
                    <a itemprop="url" href="http://facebook.com/pages/2012-Game-Over-/507792199255605" target="_blank" title="Voir notre page Facebook">
                    	<img src="assets/img/facebook.png" alt="Page Facebook" />
                    </a>
                </section>
                <div class="clearfix"> </div>
            </section>
        </script>
        
        <!---Footer statique du site -->
        <footer itemscope itemtype="http://schema.org/ItemList" itemprop="copyrightYear">

            <span id="filAriane">
                <a title="Couper le son" id='optionSon' class="doing pause"><i> </i></a>
                <a title="Aller à l'étape 1" href="#etape1">1</a>
                <a title="Aller à l'étape 2" href="#etape2">2</a>
                <a title="Aller à l'étape 3" href="#etape3">3</a>
                <a title="Aller à l'étape 4" href="#etape4">4</a>
                <a title="Aller à l'étape 5" href="#etape5">5</a>
                <a title="Aller à l'étape 6" href="#etape6">6</a>
                <a title="Aller à l'étape 7" href="#etape7">7</a>
                <a title="Aller à l'étape 8" href="#etape8">8</a>
                <a title="Recommencer le jeu" id='resetGame' class="doing" onClick="_gaq.push(['_trackEvent', 'Click', 'restart', 'restartgame']);"><i> </i></a>
            </span>
            <a itemprop="url" href="http://facebook.com/pages/2012-Game-Over-/507792199255605" target="_blank" title="Voir notre page Facebook"></a>
            <a itemprop="url" href="http://twitter.com/gameover" target="_blank" title="Voir notre compte Twitter"></a>
            <span>&copy; hétic 2012 - tous droits réservés</span>
            <div itemprop="image" id="hand-left" class="hands"><div></div></div>
            <div itemprop="image" id="hand-center" class="hands"></div>
            <div itemprop="image" id="hand-right" class="hands"></div>
            
        </footer>
        <div id="fb-root"></div>
        <script>
        	(function(d, s, id) {
	          var js, fjs = d.getElementsByTagName(s)[0];
	          if (d.getElementById(id)) return;
	          js = d.createElement(s); js.id = id;
	          js.src = "//connect.facebook.net/fr_CA/all.js#xfbml=1&appId=133026203516839";
	          fjs.parentNode.insertBefore(js, fjs);
	        }(document, 'script', 'facebook-jssdk'));
        </script>
    </body>
    
    <!-- Librairies (l'ordre compte) -->
    <script type="text/javascript" src="assets/js/browser_detect.js"></script>
    <script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="assets/js/modernizr.js"></script>
    <script type="text/javascript" src="assets/js/underscore-min.js"></script>
    <script type="text/javascript" src="assets/js/backbone.js"></script>
    <script type="text/javascript" src="assets/js/backbone-localstorage.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="assets/js/messi.min.js"></script>
    <script type="text/javascript" src="assets/js/Math.uuid.js"></script>
    <script type="text/javascript" src="assets/js/WebGL/three.min.js"></script>
    <script type="text/javascript" src="assets/js/WebGL/ColladaLoader.js"></script>
    <script type="text/javascript" src="assets/js/jquery.countdown.js"></script>
    <script type="text/javascript" src="assets/js/froogaloop.js"></script>
    <script type="text/javascript" src="assets/js/highcharts.js"></script>
    <script type="text/javascript" src="assets/js/jQuery.html5Loader.min.js"></script>
    <script type="text/javascript" src="assets/js/jQuery.html5Loader.circular.js"></script>
    
    <!-- Bootstrap de l'application -->
    <script type="text/javascript" src="src/app.js"></script>
	
    <!-- Les modules de l'application Backbones sans mocha -->
    <script type="text/javascript" src="src/modules/router.js"></script>
    <script type="text/javascript" src="src/modules/views.js"></script>
    <script type="text/javascript" src="src/modules/models.js"></script>
    <script type="text/javascript" src="src/modules/collections.js"></script>
    <script type="text/javascript" src="src/modules/helper.js"></script>
   

   
</html>
