/*============================================
 * GENERAL
 *===========================================*/
body {
	background:url("../img/fond.jpg") left top repeat;
	color:#FFF;
	padding:0 0 167px 0;
}
header {
	width:100%;
	line-height:100px;
	background:url("../img/header.png") left top no-repeat;
	background-position:0 -34px;
	height:150px;
	position:fixed;
}
header > a {
	display:block;
	float:left;
	text-decoration:none;
	height:100px;
}
header > a, header > a:hover, header > a:visited {
	color:#d8dce8;
}
header > a:nth-of-type(1) {
	background:url("../img/logo.png") left no-repeat;
	width:100px;
	margin-left:3%;
	margin-right:1%;
	
}
header > a:nth-of-type(1):hover {
	-webkit-transform: rotate3d(1,0,0,-360deg);
	-moz-transform: rotate3d(1,0,0,-360deg);
	-o-transform: rotate3d(1,0,0,-360deg);
	-ms-transform: rotate3d(1,0,0,-360deg);
	transform: rotate3d(1,0,0,-360deg);
	-moz-transition:all 2s;
	-webkit-transition:all 2s;
	-o-transition:all 2s;
	transition:all 2s;
}
header > a:nth-of-type(2) {
	text-shadow:0 2px 4px rgba(0,0,0,0.8);
}
#countdown {
	background:url("../img/decompte.png") center no-repeat;
	float:right;
	width:440px;
	height:100px;
	margin-right:3%;
}
#container {
	margin:0 auto;
	width:100%;
}
header h1, footer p {
	margin:0;
}
footer {
	width:100%;
	text-align:left;
	height:167px;
	background:url("../img/footer.png") left bottom repeat;
	position:fixed;
	bottom:0;
}
footer > a {
	display:inline-block;
	width:70px;
	height:70px;
	margin-bottom:-30px;
	margin-left:2%;
	background:url("../img/twitter.png") center no-repeat;
}
footer > span {
	text-transform:uppercase;
	display:inline-block;
	line-height:200px;
	margin:0 2%;
}
footer a:nth-of-type(1) {
	background:url("../img/facebook.png") center no-repeat;
}

footer > span:nth-of-type(1) {
	float:right;
}

footer > span:nth-of-type(1) a {
	display:inline-block;
	text-decoration:none;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	width:30px;
	height:30px;
	color:#fff;
	text-shadow:0 2px 4px rgba(0,0,0,0.8);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:#999;
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.3));
	background-image:-moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.3));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.3));
	background-image:-o-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.3));
	background-image:linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.3));
	transition:background 2s;
	-moz-transition:background 2s;
	-webkit-transition:background 2s;
	-o-transition:background 2s;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
}

footer > span:nth-of-type(1) a:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 -1px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 2px 2px 6px rgba(0,0,0,0.5), inset -2px 2px 6px rgba(0,0,0,0.5),inset 2px -2px 6px rgba(0,0,0,0.5),inset -2px -2px 6px rgba(0,0,0,0.5);
}

footer > span:nth-of-type(1) a.done {
	background:#444;
	color:#999;
}

footer > span:nth-of-type(1) a.doing {
	background:#fff;
	color:#000;
}

.hands {
	background: url("../img/hand.png") center top no-repeat;
	background-size:100%;
	-moz-transition:all 2s;
	-webkit-transition:all 2s;
	-o-transition:all 2s;
	transition:all 2s;
	cursor:pointer;
	position:fixed;
}
.hands:nth-of-type(1) {
	left:20%;
	bottom:-100px;
	width:150px;
	height:300px;
    -moz-transform:rotate(45deg) matrix(-1,0,0,1,0,0);
    -webkit-transform:rotate(45deg) matrix(-1,0,0,1,0,0);
    -o-transform:rotate(45deg) matrix(-1,0,0,1,0,0);
    transform:rotate(45deg) matrix(-1,0,0,1,0,0);
}
.hands:nth-of-type(1):hover {
	left:16%;
	bottom:-220px;
}
.hands:nth-of-type(2) {
	left:50%;
	bottom:-300px;
	width:270px;
	height:700px;
}
.hands:nth-of-type(2):hover {
	bottom: -640px;
}
.hands:nth-of-type(3) {
	right:0;
	bottom:20%;
	width:200px;
	height:470px;
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.hands:nth-of-type(3):hover {
	right:-10%;
	bottom:-50px;
}


/*=========================================
 * ACCUEIL
 * ======================================*/
#accueil {
	width:100%;
}
h2 {
	text-transform:uppercase;
}
#banner {
	background:url("../img/banner.jpg") left top repeat-x;
	width:100%;
	height:450px;
	/*height:593px;*/
}
#stats, #jeu {
	width:40%;
	min-height:200px;
	float:left;
	background-color:rgba(0,0,0,0.5);
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
	margin:3%;
	padding:1%;
	text-align:center;
}
#jeu img {
	height:150px;
	cursor:pointer;
}

/*==========================================
 * POPUP MESSI
 * ========================================*/
div.messi-content{
	color:black;
}

/*=========================================
 * GAME
 * =======================================*/
#nextQuestion {
	color: #000;
	background-color:rgba(200,5,5,1);
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.1));
	background-image:-moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.1));
	background-image:-ms-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.1));
	background-image:-o-linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.1));
	background-image:linear-gradient(top, rgba(255,255,255,0.4), rgba(0,0,0,0.1));
	display:inline-block;
	height:30px;
	line-height:30px;
	padding:0 10px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	border-radius:9px;
}